

/* Page */
.login-page {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8fafc;
  padding: 10px;
}

/* Card */
.login-card {
  width: 100%;
  max-width: 420px;
  background: var(--bg);
  border-radius: var(--radius);
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.signup-link{
  color:var(--primary);
  font-weight: bold;
  text-decoration: none;
}
/* Header */
.login-header {
  text-align: center;
  margin-bottom: 28px;
}

.logo-dot {
  width: 14px;
  height: 14px;
  background: var(--primary);
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 12px;
}

.login-header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-dark);
}

.login-header p {
  margin-top: 6px;
  color: var(--text-muted);
  font-size: 14px;
}

/* Form */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input-group label {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-dark);
}

.input-group input {
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid var(--border);
  font-size: 14px;
  outline: none;
}

.input-group input:focus {
  border-color: var(--primary);
}

/* Button */
.login-btn {
  margin-top: 10px;
  padding: 12px;
  background: var(--primary);
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.login-btn:hover {
  opacity: 0.95;
}

/* Footer */
.signup-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: var(--text-muted);
}

.signup-text span {
  color: var(--primary);
  font-weight: 600;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 480px) {
  .login-card {
    padding: 24px;
  }
}


.input-group input,
.input-group select {
  padding: 12px 14px;
  border-radius: 12px;
  border: 1.5px solid var(--border);
  background: #f9fafb;
  font-size: 14px;
  outline: none;
  transition: all 0.2s ease;
}

.input-group input:hover,
.input-group select:hover {
  background: #ffffff;
  border-color: #d1d5db;
}

.input-group input:focus,
.input-group select:focus {
  background: #ffffff;
  border-color: var(--primary);
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.15);
}
