.event-card {
  width: 320px;
  background: var(--bg);
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.08);
  transition: all 0.25s ease;
  cursor: pointer;
}


.event-image {
  position: relative;
  height: 180px;
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.event-badge {
  position: absolute;
  top: 12px;
  left: 12px;

  display: inline-flex;
  align-items: center;
  gap: 6px;

  background: var(--primary);
  color: #ffffff;

  font-size: 12px;
  font-weight: 600;

  padding: 6px 12px;
  border-radius: 999px;

  box-shadow: 0 6px 16px rgba(91, 92, 246, 0.35);
}

.event-badge svg {
  width: 14px;
  height: 14px;
}


.event-content {
  display: flex;
  gap: 14px;
  padding: 18px;
}

.event-date {
  text-align: center;
  border-right: 1px solid #e5e7eb;
  padding-right: 14px;
  min-width: 48px;
}

.event-day {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary);
  display: block;
}

.event-month {
  font-size: 12px;
  color: var(--text-muted);
  font-weight: 600;
}

.event-info h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  color: var(--text-dark);
}

.event-location {
  font-size: 13px;
  color: var(--text-muted);
  margin: 4px 0 6px;
}

.event-desc {
  font-size: 13px;
  color: var(--text-muted);
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.event-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 18px;
  border-top: 1px solid #e5e7eb;
}

.event-participants {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  color: var(--text-muted);
}

.avatars {
  display: flex;
}

.avatars img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-left: -8px;
}

.avatars img:first-child {
  margin-left: 0;
}

.event-price {
  font-size: 17px;
  font-weight: 700;
  color: var(--primary);
}
