.event-card {
  width: 100%;
  max-width: 380px;

  background: var(--bg);
  border-radius: var(--radius);
  overflow: hidden;

  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.08);
  transition: all 0.25s ease;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.event-image {
  position: relative;
  height: 180px;
  flex-shrink: 0;
  overflow: hidden;
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.event-card:hover .event-image img {
  transform: scale(1.06);
}

.event-badge {
  position: absolute;
  top: 12px;
  left: 12px;

  display: inline-flex;
  align-items: center;
  gap: 6px;

  background: var(--primary);
  color: #ffffff;

  font-size: 12px;
  font-weight: 600;

  padding: 6px 12px;
  border-radius: 999px;

  box-shadow: 0 6px 16px rgba(91, 92, 246, 0.35);
}

.event-badge svg {
  width: 14px;
  height: 14px;
}

.event-content {
  display: flex;
  gap: 14px;
  padding: 18px;
  flex-grow: 1;
}

.event-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 60px;
  height: 68px;

  background: var(--bgPrimary);
  border: var(--border);
  border-radius: 12px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.04);
}

.event-day {
  font-size: 20px;
  font-weight: 800;
  color: var(--primary);
  line-height: 1;
}

.event-month {
  font-size: 11px;
  font-weight: 700;
  color: var(--text-muted);
  letter-spacing: 0.6px;
  text-transform: uppercase;
}


.event-info {
  display: flex;
  flex-direction: column;
}

.event-info h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  color: var(--text-dark);
}


.event-info h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.event-location {
  font-size: 13px;
  color: var(--text-muted);
  margin: 4px 0 6px;
}


.event-desc {
  font-size: 13px;
  color: var(--text-muted);
  line-height: 1.5;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  min-height: 38px;
}

.event-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 18px;
  border-top: 1px solid #e5e7eb;

  margin-top: auto;
}

.event-participants {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  color: var(--text-muted);
}

.event-price {
  font-size: 18px;
  font-weight: 800;
  color: var(--primary);
}


.event-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 40px rgba(0,0,0,0.12);
}
