

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background: var(--bg);
  border-bottom: 1px solid #e5e7eb;
}

/* Left */
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-text {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-dark);
}

/* Center */
.nav-center {
  display: flex;
  gap: 28px;
}

.nav-center a {
  text-decoration: none;
  color: var(--text-muted);
  font-weight: 500;
}

.nav-center a:hover {
  color: var(--text-dark);
}

/* Right */
.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}


/* Hamburger */
.hamburger {
  display: none;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .nav-center {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    background: #fff;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
    border-bottom: 1px solid #e5e7eb;
  }

  .nav-center.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
