.footer {
  background: #0f172a;
  color: #e2e8f0;
  margin-top: 80px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 40px;
}

.logo {
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-section h4 {
  margin-bottom: 12px;
  color: #ffffff;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
  color: #94a3b8;
}

.footer-section a {
  display: block;
  text-decoration: none;
  color: #94a3b8;
  margin-bottom: 8px;
  font-size: 14px;
  transition: 0.2s;
}

.footer-section a:hover {
  color: #5b5cf6;
}

.newsletter {
  display: flex;
  margin-top: 10px;
}

.newsletter input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 6px 0 0 6px;
}

.newsletter button {
  padding: 10px 16px;
  border: none;
  background: #5b5cf6;
  color: white;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  padding: 18px;
  border-top: 1px solid #1e293b;
  font-size: 13px;
  color: #94a3b8;
}


@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .newsletter {
    flex-direction: column;
    gap: 10px;
  }

  .newsletter input,
  .newsletter button {
    border-radius: 6px;
  }
}
