@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");


:root {
  --primary: #4400ff;
  --text-dark: #0f172a;
  --text-muted: #64748b;
  --bg: #ffffff;
  --radius: 12px;

  --bgPrimary: color-mix(in srgb, var(--primary) 10%, transparent);
  --border: 2px solid color-mix(in srgb, var(--primary) 30%, transparent);
  --boxShadow: 0 10px 30px color-mix(in srgb, var(--primary) 18%, transparent);
}



body {
  font-family: var(--font-outfit);
}