@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");


:root {
  --primary: #5b5cf6;
  --text-dark: #0f172a;
  --text-muted: #64748b;
  --bg: #ffffff;
  --radius: 12px;
  --bgPrimary:rgba(0, 0, 255, 0.08);
  --border:2px solid rgba(91, 92, 246, 0.2);
  --boxShodow:0 6px 18px rgba(91, 92, 246, 0.15);
}


body {
  font-family: var(--font-outfit);
}