.primarybutton {
  background: var(--primary);
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: var(--radius);
  font-weight: 600;
  cursor: pointer;
}

.primarybutton:hover {
  opacity: 0.9;
}





.mutedbutton {
  text-decoration: none;
  color: var(--text-dark);
  font-weight: 500;
  border: 2px solid var(--primary);
  padding: 8px 18px;
  font-weight: 600;
  border-radius: var(--radius);
  background-color: #fff;
}
.mutedbutton:hover {
  background: var(--primary);
  color: #fff;
}